@model InmobiliariaFernández.Models.Propietario

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Eliminar Propietario?</h3>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
